* {
  box-sizing: border-box;
}

:root {
  --color-main: #F6750F;
  --color-alt: #531CB3;
  --color-secondary: #009900;
  --color-white: #FFF9FF;
  --color-black: #092F36;
}

body {
  margin: 0;
  height: 100%;
  /*linear gradient for darken image */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./assets/images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: var(--color-main);
  overflow-x: hidden;
  font-weight: bold;
  opacity: 0.85;
}

/* Side navigation links */
.sidenav a {
  color: var(--color-white);
  padding: 16px;
  text-decoration: none;
  display: block;
  margin-left: 10px;
  font-size: large;
}

/* Change color on hover */
.sidenav a:hover {
  color: var(--color-alt);
}

.sidenav .selection {
  color: var(--color-white);
  border-left: solid var(--color-white) 2px;
}

/* Style the content */
.title {
  margin-left: 200px;
  padding-left: 20px;
  color: var(--color-white);
  height: 100vh;
  text-align: center;
  padding-top: 25vh;
}

.title h1 {
  font-size: 12vh;
}

.title p {
  font-size: 10vh;
  transform: translate(20vh, -10vh)
}
