* {
  box-sizing: border-box;
}

:root {
  --color-main: #f6750f;
  --color-alt: #531cb3;
  --color-secondary: #009900;
  --color-white: #fff9ff;
  --color-black: #092f36;
}

body {
  margin: 0;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(255, 80, 0, 0.8), rgba(255, 80, 0, 0.8));
  overflow-x: hidden;
  font-weight: bold;
}

/* Side navigation links */
.sidenav a {
  color: var(--color-white);
  padding: 16px;
  text-decoration: none;
  display: block;
  margin-left: 10px;
  font-size: large;
}

/* Change color on hover */
.sidenav a:hover {
  color: var(--color-alt);
}

.sidenav .selection {
  color: var(--color-white);
  border-left: solid var(--color-white) 2px;
}

/*Styles for align with side navbar */
.about-title h1,
.about-title p,
.title h1,
.title p,
.menu-title h1,
.menu-title p,
.contact-title h1,
.contact-title p {
  margin-left: 200px;
  padding-left: 20px;
}

/* Style content title home */
.title {
  color: var(--color-white);
  height: 100vh;
  padding-top: 25vh;
  /*linear gradient for darken image */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title h1 {
  font-size: 12vh;
  text-align: center;
}

.title p {
  font-size: 10vh;
  transform: translate(0, -10vh);
  text-align: right;
  margin-right: 30vh;
}

/* Style content menu */

.menu-title {
  color: var(--color-white);
  height: 100vh;
  padding-top: 18vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/bg-menu.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.menu-title h1 {
  font-size: 12vh;
  text-align: center;
}

.menu-title p {
  font-size: 7vh;
  text-align: center;
}

.menu-dishes {
  margin-top: 100px;
  margin-left: 200px;
  margin-bottom: 100px;
  min-height: 400px;
  padding-left: 20px;
  display: grid;
  grid-gap: 50px 50px;
  grid-template-columns: auto auto;
  padding: 10px;
  color: var(--color-white);
}

.menu-item {
  border: 3px solid var(--color-secondary);
  border-radius: 10px;
  padding: 150px;
  font-size: 40px;
  text-align: center;
  position: relative;
}

.menu-item p {
  position: absolute;
}

/* Dishes menu */
.dish-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./assets/images/dish-1.jpg");
  background-repeat: no-repeat;
  transition: transform 0.5s;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}

.dish-1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/images/dish-1.jpg");
  background-size: 110%;
}

.dish-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./assets/images/dish-2.jpg");
  background-repeat: no-repeat;
  transition: transform 0.5s;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}

.dish-2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/images/dish-2.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
}

.dish-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./assets/images/dish-3.jpg");
  background-repeat: no-repeat;
  transition: transform 0.5s;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}

.dish-3:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/images/dish-3.jpg");
  background-size: 110%;
}

.dish-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./assets/images/dish-4.jpg");
  background-repeat: no-repeat;
  transition: transform 0.5s;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}

.dish-4:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/images/dish-4.jpg");
  background-size: 110%;
}

.dish-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./assets/images/dish-5.jpg");
  background-repeat: no-repeat;
  transition: transform 0.5s;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}

.dish-5:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/images/dish-5.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
}

.dish-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./assets/images/dish-6.jpg");
  background-repeat: no-repeat;
  transition: transform 0.5s;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}

.dish-6:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/images/dish-6.jpg");
  background-size: 110%;
}

/* Signature fixed */
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid rgba(255, 30, 0, 0.5);
  background: linear-gradient(rgba(255, 30, 0, 0.6), rgba(255, 30, 0, 0.6));
  color: var(--color-white);
  z-index: 100;
  border-radius: 5px;
}

/* About content */
.about-title {
  color: var(--color-white);
  height: 100vh;
  padding-top: 18vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/bg-about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.about-title h1 {
  font-size: 12vh;
  text-align: center;
}

.about-title p {
  font-size: 9vh;
  text-align: center;
}

.about-content {
  margin-left: 200px;
  margin-right: 50px;
  padding-left: 80px;
  padding-right: 50px;
  font-size: 6vh;
  text-align: center;
}

.about-content img {
  max-width: 80vh;
  border-radius: 10px;
  border: 3px solid var(--color-secondary);
}

.about-content h2 {
  color: var(--color-secondary);
}

/*Contact main */
.contact-title {
  color: var(--color-white);
  height: 100vh;
  padding-top: 15vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact-title h1 {
  font-size: 12vh;
  text-align: center;
}

.contact-title p {
  font-size: 9vh;
  text-align: center;
}

/* Contact section */
/*Contact form */
/* Align container with navbar */
.row {
  margin-left: 200px;
}

.row img {
  width: 100%;
  border: 3px solid var(--color-secondary);
  border-radius: 10px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--color-main);
  color: var(--color-white);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: var(--color-alt);
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: var(--color-white);
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Align text elements with title */

.contact-content {
  margin-left: 200px;
  text-align: center;
}

.contact-content h2 {
  font-size: 9vh;
  color: var(--color-secondary);
}

.contact-content p {
  font-size: 3vh;
}
